 * {
  margin: 800;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
  /*font-family: "HiraginoSans-W1";*/
  font-weight: 100;
  line-height: 1.618;
}

body {
  background-color: #fff;
  color: #8C8C8C;
  /*text-align: justify;*/
}

a {
  color: #ff7e69;
  text-decoration: none;
  outline: none;
}

a:hover {
}

p {
  font-size: 1.1rem;
  color: rgba(26, 26, 26, 0.5);
}

.subtitle{
  font-size: 0.8rem;
  color: rgba(26, 26, 26, 0.5);
}

.pright{ 
  max-width: 600px;
}

.imgright{
  margin-left: 650px;
  max-width: 350px;
}

.pleft{
  margin-left: 300px;
  max-width: 650px;
  margin-right: 0 auto;
}

.small {
  font-size: 1rem;
  margin-top: 1em;
}

.mainpage{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem 2rem;
  text-align: left;
  color: #fff;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0rem 2rem;
}
.gallerycontainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0rem 2rem;
}

img{
  max-width: 100%;
  margin:0 auto;
  padding: 0rem 0rem;
  display: table-cell;
  vertical-align: middle;
}

.base{
  width: 940px;
  position: absolute;
  z-index: 1;
}
.float{
  width: 940px;
  position: relative;
  z-index: 2;
}

.top{
  position: relative;
  z-index: 3;
}

.left {
  position: absolute;
  margin:0 auto;
  padding: 10px;
}

header {
  text-align: center;
  padding-bottom: 3rem;
}

h1 {
  font-size: 48px;
  line-height: 1.2em;
  padding-bottom: 0rem;
  font-weight: 800;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.screencast{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

table{
  width: 100%;
}
th,td{
  width: 33.33%;
  text-align: right;
}

circle {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

b{
  color:#ff7e69;
}

text {
  font-size: 1.1rem;
  text-transform: uppercase;
  text-anchor: middle;
  letter-spacing: 1px;
  font-weight: 600;
}

.svg-text {
  fill: #545a64;
}

.svg-masked-text {
  fill: white;
  text-shadow:3px 3px 2px #7f7f7f;
}

image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transition: -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.items {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 400px;
  margin: 20px;
  cursor: pointer;
  background-color: #fff;
  border-style: solid;
  outline-style: solid;
  outline-color: #B2BFF7;
  outline-width: 1px;
  outline-offset: 4px;
  border-color: #F2B5D4; 
  border-radius: 2px;
  border-width: 1px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.item:hover circle,
.item:hover image {
  -webkit-transform: scale(1);
          transform: scale(1);
}

button {
  width: 12px;
  height: 12px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 1px;
}
button.dark {
  background-color: #2f3238;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
button.light {
  background-color: #f9f9f9;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.options {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.options button {
  margin-left: .5rem;
}

.left{
    position: : absolute;
    width: 400px;
    margin-right: 20px;    //形成20px的间隔
}
.right{
    overflow: hidden; //通过设置overflow: hidden来触发BFC特性
}


.section--red{
  background: linear-gradient( #ff7e69, #FFA993);
  color: #fff;
}


.section--grain{
  background-image: url("coverpage.png");
  background-color: #cccccc;
  background-size: cover;
}
.section--red b{
  color:#fff;
}
.section--greybg{
  background: linear-gradient( #36455B, #506583);
}

.section--grey{
  background: #f6f5f5;
}
.section--yellow{
  background: linear-gradient( #FFB656, #FDC479);
}
.section--pinklow{
  background: #ECE0DD;
}

.section--yell{
  background: #FCFAF7;
}

.section--pink{
  background: linear-gradient(#DDBEA9, #CB997E);
}

.section--green{
  background: linear-gradient(#16697A, #186E75);
}

.section--zishi{
  background-image: url("zishi.png");
  background-color: #ffffff;
  background-size: cover;
}

.section--mainpage{
  background-image: url("MainPage.gif")
}


/*chart*/

#chart {
  width: 800px;
  height: 300px;
  margin: 0 auto;
  padding-left: 100px;
  display: block;
  font-size: 10px;
}
#chart #numbers {
  width: 5px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: center;
}
#chart #numbers li {
  text-align: center;
  padding-right: 1em;
  list-style: none;
  height: 29px;
  border-bottom: 1px solid #A2A2A2;
  position: relative;
  bottom: 22px;
}
#chart #numbers li:last-child {
  height: 30px;
}
#chart #numbers li span {
  color: #A2A2A2;
  position: absolute;
  bottom: 0;
  right: 22px;
  margin: -8px;
}
#chart #bars {
  display: inline-block;
  width: 600px;
  height: 300px;
  padding: 0;
  margin: 0;
}
#chart #bars li {
  display: table-cell;
  width: 80px;
  height: 300px;
  margin: 0;
  text-align: center;
  position: relative;
}
#chart #bars li .bar {
  display: block;
  width: 30px;
  margin-left: 25px;
  margin-right: 15px;
  background-image: linear-gradient(#63CFF4, #B0FFD7);
  position: absolute;
  bottom: 0;
}
#chart #bars li .bar:hover {
  background: #63CFF4;
  cursor: pointer;
}
#chart #bars li .bar:hover:before {
  color: #A2A2A2;
  content: attr(data-percentage) '%';
  position: relative;
  bottom: 20px;
}
#chart #bars li span {
  width: 80px;
  position: absolute;
  bottom: -2em;
  left: 0;
  text-align: center;
  color:#A2A2A2;
}
/*end chart*/

/* main page motion*/
